/*Existen 4 tipos de selectores de CSS
El primero seria por elemetno global: Se utiliza indicado cual es la
etiqueta de HTML a la cual se quiere modificar*/
h1{
    color: turquoise;
    text-align: left;
}
/*El segundo tipo es por medio del id que se le asigo en la etiqueta
de HTML del elemento*/
#h2-id{
    color: tomato;
    text-align: center;
}
/*El tercer metodo es por medio de la clase que se le asigno en la 
etiqueta de HTML del elemento*/
.p-1{
    color: violet;
    text-align: right;
    font-size: 30px;
}
/*El cuarto metodo serial el de manera Universal, este afeacta a TODOS
los elementos dentro del HTML sin expecion
*{
    color: black
    text-align: center
}
*/

/*Color de background*/
.colback{
    background-color: blue;
}
/*Color de texto*/
.coltext{
    color: chartreuse;
}
/*Color del borde*/
.colborder{
    border: 2px solid cyan;
}


/*Cambiar el color del background*/
.bgcolor{
    background-color: darkcyan;
    /*Cambiar la opacidad del fondo*/
    opacity: 70%;
}
/*Agregar una imagen de fondo de pantalla */
.bgimage{
    background-image: url(../media/foto.jpg);
    /*Hacer que a imagen se repita*/
    background-repeat: repeat-x;
    /*Posicionar la imagen en cierto lado*/
    background-position: right top;
    /*Permitir que la imagen no se mueva con el scroll*/
    background-attachment: fixed;
    /*Permitir que la imagen se mueva con el scroll*/
    background-attachment: scroll;
}


/*Borde dotted*/
.borde-1{
    border: dotted;
}
/*Borde dashed*/
.borde-2{
    border: dashed;
}
/*Borde solid*/
.borde-3{
    border: solid;
}
/*Borde double*/
.borde-4{
    border: double;
}
/*Borde groove*/
.borde-5{
    border: groove;
}
/*Borde ridge*/
.borde-6{
    border: ridge;
}
/*Borde inset*/
.borde-7{
    border: inset;
}
/*Borde outset*/
.borde-8{
    border: outset;
}
/*Borde none*/
.borde-9{
    border: none;
}
/*Borde hidden*/
.borde-10{
    border: hidden;
}
/*Grosor del borde*/
.borde-w{
    border: dotted;
    border-width: 15px;
}
/*Color del borde*/
.borde-c{
    border: solid;
    border-width: 15px;
    border-color: white;
}
/*Diferentes estilos y colores en los bordes*/
.borde-s{
    border-top: dotted;
    border-top-color: firebrick;
    border-right: solid;
    border-right-color: forestgreen;
    border-bottom: dotted;
    border-bottom-color: gold;
    border-left: solid;
    border-left-color: hotpink ;
}
/*Bordes redondeados*/
.borde-r{
    border: black 10px solid;
    border-radius: 10px;
}


/*Modificar los margenes de los elementos*/
.margins{
    background-image: url(../media/foto.jpg);
    border: greenyellow 20px solid;
    margin: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
}
/*Margen colapsado*/
.margins-c{
    background-color: white;
    border: greenyellow 20px solid;
    margin: 20px 0 0 0;
}
















.Titulo{
    color: greenyellow;
    font-size: 40px;
    text-align: center;
}
.container-1{
    background-color: black;
}
.container-2{
    background-color: blue;
}